<html>
  <head>
    <title>Welcome to Nourish!</title>
  </head>
  <body>
    <h1> Store Name: {{store.text}}</h1>
    <form id="create_group_from" method="POST" action="/stores/{{ store.id }}/add_item">
      <input id='id_new_store' name="item_text" type="text" placeholder="Enter store name"><br>
      {% csrf_token %}
    </form>

    <h2>GROUPS</h2> 
    <table id='store_table'>
      {% for item in store.item_set.all %}
      <tr>
        <td>{{ item.text }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>